.job-cards{
  padding: 6rem 8rem;
}

.button-primary{
  &:hover{
    box-shadow: 4px 5px 0px $darkpurple;
  }
}

a{
  text-decoration: none;
  color: inherit;
}


.job-card{
  margin: 0 auto;
  background-color: $lightblue;
  color: $darkpurple;
  height: 320px;
  width: 260px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;

  transition: 0.1s;
  backface-visibility: hidden;
  transform: translateZ(0.2s);

    h3{
      color: $lightpurple;
    }
    .job-top p{
      display: inline
    }

    hr {
    border: none;
    border-top: 0.3rem dotted $darkblue;
    height: 1px;
    background-color: transparent;
    opacity: .8;
  }

  .job-description{
    display: none;
  }

  .job-top{
    height: 100px;
  }
  .job-bottom{
    height: 1rem;
  }

  &:hover{
    box-shadow: 0.5rem 0.5rem rgba(89, 82, 159, 0.35);
    transform: scale3d(1.02, 1.02, 1.02);
  }
}
