<div class="job-banner">
  <div class="banner-text">
    <h1>Programming Jobs</h1>
    <p>Find the job offers that suit your programming skill</p>

    <i class="fa-brands fa-css3"></i>
    <i class="fa-brands fa-js"></i>
    <i class="fa-brands fa-html5"></i>
    <i class="fa-brands fa-python"></i>
    <i class="fa-brands fa-php"></i>
    <i class="fa-brands fa-java"></i>
    <i class="fa-brands fa-r-project"></i>
    <i class="fa-brands fa-golang"></i>
  </div>

</div>
