.dashboard-page{
  height: 660px;

  .dashboard{
    height: 580px;
    width: 900px;
    margin: 40px auto;
    background-color: $darkblue;
    border-radius: 40% 60% 36% 64% / 47% 46% 54% 53%;
  }

}
