// Specific CSS for your home-page
.landing-page{
  min-height:90vh;
  @include media-breakpoint-up(md){
    padding: 100px 150px 10px;
  }

  @include media-breakpoint-down(md){
    padding: 100px 50px 10px;
  }


  .home-left{
    padding:0;

    h1{
      margin-bottom: 2rem;
      color: $lightpurple;
      font-size: 4rem;
    }
    p{
      margin-bottom: 4rem;
      color: $darkpurple
    }
  }


  .home-right{
    @include media-breakpoint-up(md) {
      position:relative;

      img{
        height:360px;
        z-index: 1;
      }

      @keyframes changewidth {
        from {
          transform: translateX(0px);
        }

        to {
          transform: translateX(12px);
        }
      }

      @keyframes changewidth2 {
        from {
          transform: translateX(0px);
        }

        to {
          transform: translateX(-12px);
        }
      }

      .student {

        position: absolute;
        top: 20%;
        left: 4%;
        z-index: 1;


        &:hover {
          .quote-student{
            animation-duration: .8s;
            animation-name: changewidth2;
            animation-iteration-count: infinite;
            animation-direction: alternate;
          }

          img {
            animation-duration: .8s;
            animation-name: changewidth;
            animation-iteration-count: infinite;
            animation-direction: alternate;
          }
        }

      }

      @keyframes changewidth3 {
        from {
          transform: translateX(0px);
        }

        to {
          transform: translateX(-12px);
        }
      }

      @keyframes changewidth4 {
        from {
          transform: translateX(0px);
        }

        to {
          transform: translateX(12px);
        }
      }

      .jobseeker {

        position: absolute;
        left: 52%;
        z-index: 1;


        &:hover {
          .quote-jobseeker{
            animation-duration: .8s;
            animation-name: changewidth3;
            animation-iteration-count: infinite;
            animation-direction: alternate;
          }

          img {
            animation-duration: .8s;
            animation-name: changewidth4;
            animation-iteration-count: infinite;
            animation-direction: alternate;
          }
        }

      }

      .quote{
        color: $darkpurple;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background-color: $lightblue;
        display: flex;
        align-items: center;
        text-align: center;
        box-shadow: 3px 3px $darkblue;
        z-index: -1;
      }

      .quote-jobseeker{
        position: absolute;
        right: -52%;
        top: -12%;
      }

      .quote-student{
        position: absolute;
        left: 60%;
        top: -5%;
      }
    }
  }

  .home-right{
    @include media-breakpoint-down(md) {
      position:relative;

      img{
        height:360px;
        z-index: 1;
      }

      @keyframes changewidth {
        from {
          transform: translateX(0px);
        }

        to {
          transform: translateX(12px);
        }
      }

      @keyframes changewidth2 {
        from {
          transform: translateX(0px);
        }

        to {
          transform: translateX(-12px);
        }
      }

      .student {

        // position: absolute;
        // top: 20%;
        // left: 4%;
        z-index: 1;


        &:hover {
          .quote-student{
            animation-duration: .8s;
            animation-name: changewidth2;
            animation-iteration-count: infinite;
            animation-direction: alternate;
          }

          img {
            animation-duration: .8s;
            animation-name: changewidth;
            animation-iteration-count: infinite;
            animation-direction: alternate;
          }
        }

      }

      @keyframes changewidth3 {
        from {
          transform: translateX(0px);
        }

        to {
          transform: translateX(-12px);
        }
      }

      @keyframes changewidth4 {
        from {
          transform: translateX(0px);
        }

        to {
          transform: translateX(12px);
        }
      }

      .jobseeker {

        // position: absolute;
        // left: 52%;
        z-index: 1;


        &:hover {
          .quote-jobseeker{
            animation-duration: .8s;
            animation-name: changewidth3;
            animation-iteration-count: infinite;
            animation-direction: alternate;
          }

          img {
            animation-duration: .8s;
            animation-name: changewidth4;
            animation-iteration-count: infinite;
            animation-direction: alternate;
          }
        }

      }

      .quote{
        color: $darkpurple;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background-color: $lightblue;
        display: flex;
        align-items: center;
        text-align: center;
        box-shadow: 3px 3px $darkblue;
        z-index: -1;
      }

      .quote-jobseeker{
        position: absolute;
        left: 210px;
        bottom: 22%;
      }

      .quote-student{
        position: absolute;
        left: 150px;
        top: -5%;
      }
    }
  }
}
