<div class="job-card">
  <div class="job-top">
    <h3>Ruby developer</h3>
    <i class="fa-regular fa-building d-line mt-3"></i><p> Proskills</p>
  </div>
  <hr>
  <div class="job-bottom">
    <p>Ruby, Javascript</p>
  </div>
</div>
