<footer>
  <div class="footer-flex">

    <div class="footer-left">
      <h1>Proskills.</h1>
      <p>Learn programming skills or seek programming jobs?</p>
      <p>We are here for you.</p>
    </div>

    <div class="footer-right">
      <div class="help">
        <ul>
        <li class="footer-title">Help</li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">FAQ</a></li>
        </ul>
      </div>

      <div class="follow">
        <ul>
        <li class="footer-title">Follow us</li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Facebook</a></li>
        </ul>
      </div>
    </div>

  </div>

  <p class="company-symbol">© 2022 Proskills</p>
</footer>
