<div class="job-banner">
  <div class="banner-text">
    <i class="fa-brands fa-css3"></i>
    <i class="fa-brands fa-js"></i>
    <i class="fa-brands fa-html5"></i>
    <i class="fa-brands fa-python"></i>
    <i class="fa-brands fa-php"></i>
    <i class="fa-brands fa-java"></i>
    <i class="fa-brands fa-r-project"></i>
    <i class="fa-brands fa-golang"></i>
    <h1 class="welcome">Hey <%= current_user.username %></h1>
  </div>
</div>
