<div class="sidebar">
  <h1 class="welcome">Hey <%= current_user.username %></h1>
  <span> <strong><%= link_to "My skills", dashboard_skills_path, class:"button-primary" %></strong> </span>
  <span><%= link_to "My jobs", dashboard_jobs_path, class:"button-primary" %></span>
</div>
