<main class="dashboard-page">
  <div class="dashboard row">
    <div class="dash-left col-4">
      <h3>My Skills</h3>
      <h3>My Jobs</h3>
    </div>
    <div class="dash-right col-8">
      <div class="dash-card">
      </div>
    </div>
  </div>
</main>
