<main class="dashboard-page">
  <div class="dashboard row">
    <div class="dash-left col-4">
    <%= link_to "My skills", dashboard_skills_path, class:"button-primary button-primary-small" %>
    <%= link_to "My jobs", dashboard_jobs_path, class:" button-primary button-primary-small"%>
    </div>
    <div class="dash-right col-8">
      <div class="dash-card">
      </div>
    </div>
  </div>
</main>
