<main class="row m-0">

  <div class="home-left col-4">
    <h1>Proskills.</h1>
    <p>Would you like to learn programming skills or seek programming jobs that fit your skills?</p>
    <h3><%=link_to "Sign up", new_user_registration_path, class:"button-primary"%></h3>
  </div>

  <div class="home-right col-8">
    <div class="student">
      <%= image_tag "landing/student.png", class:"student-img" %>

      <div class="flip-card-student">
        <div class="flip-card-student-front">
          <div class="quote quote-student">
            <p>"I want to learn programming"</p>
          </div>
        </div>

        <div class="flip-card-student-back">
          <div class="quote quote-student">
            <p>Explore programming skills</p>
          </div>
        </div>
      </div>

    </div>

    <div class="jobseeker">
      <%= image_tag "landing/jobseeker.png", class:"jobseeker-img" %>
      <div class="quote quote-jobseeker">
        <p>"I want to find a programming job"</p>
      </div>
    </div>
  </div>

</main>
