<link rel="stylesheet" href="skills.scss">
 <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8 text-center">
        <h3>Select your skills:</h3>

        <div class="d-flex flex-wrap justify-content-center pt-4">
          <div class="clickable">
            <ion-icon name="logo-html5"></ion-icon>
            <small>HTML</small>
          </div>
          <div class="clickable">
            <ion-icon name="logo-css3"></ion-icon>
            <small>CSS</small>
          </div>
          <div class="clickable">
            <ion-icon name="logo-nodejs"></ion-icon>
            <small>JavaScript</small>
          </div>
          <div class="clickable">
            <ion-icon name="logo-python"></ion-icon>
            <small>Python</small>
          </div>
          <%# <div class="clickable">
            <i class="fas fa-table-tennis"></i>
            <small>PHP</small>
          </div>
          <div class="clickable">
            <i class="fas fa-hiking"></i>
            <small>Ruby</small>
          </div> %>
        </div>
      </div>
    </div>
  </div>
