<div class="container">
  <div class="cards">
    <div class="card-student">
      <p>Enter as a student</p>
      <%= link_to "Explore", "skills#index", class:"button-primary button-primary-small" %>
    </div>
    <div class ="card-job">
      <p>You want to find a job?</p>
      <p><%= link_to "Continue", "jobs#index", class:"button-primary button-primary-small" %></p>
    </div>
  </div>
</div>
