<div class="container ">
  <div class="form">
    <h2 class="header-form">Give us some more Information</h2>
    <form>
      <label class="input" ><h4>What programming skills do you have?</h4></label>
      <div class="checkboxes-skill row w-75 m-auto" >
        <div class="tag-item col-4">
          <input class="my-checkbox tag-selector" type="checkbox" id="Ruby">
          <label style="width: 100%" for="Ruby"> Ruby</label>
        </div>
        <div class="tag-item col-4">
          <input class="tag-selector" type="checkbox" id="HTML">
          <label style="width: 100%" for="HTML"> HTML</label>
        </div>
        <div class="tag_item col-4">
          <input class="tag-selector" type="checkbox" id="CSS">
          <label style="width: 100%" for="CSS"> CSS</label>
        </div>
        <div class="tag_item col-4">
          <input class="tag-selector" type="checkbox" id="JavaScript">
          <label style="width: 100%" for="JavaScript"> JavaScript</label>
        </div>
        <div class="tag-item col-4">
          <input class="tag-selector" type="checkbox" id="Python">
          <label style="width: 100%" for="Python">Python</label>
        </div>

        <div class="tag-item col-4">
          <input class="tag-selector" type="checkbox" id="Rails">
          <label style="width: 100%" for="Rails">Rails</label>
        </div>
      </div>

      <div>
        <label>Others?</label>
        <input type="input" class="input1">
      </div>

      <div>
        <label class="input2" ><h4>What are your interests?</h4></label>
      </div>

      <div class="checkbox-job row m-auto">
        <div class="tag-item col-4">
          <input class="tag-selector" type="checkbox" id="Front-end">
          <label for="Front-end">Front-End</label>
        </div>

        <div clas="tag-item col-4" style="width: auto;">
          <input class="tag-selector" type="checkbox" id="Back-End">
          <label for="Back-End">Back-End</label>
        </div>

        <div class="tag-item col-4">
          <input class="tag-selector" type="checkbox" id="Full-Stack">
          <label for="Full-Stack">Full-Stack</label>
        </div>
      </div>
      <div>
        <label class="input3" ><h4>Did you already work as a developer?</h4></label>
        <input type="checkbox" class="developer">
        <label for="developer">Yes</label>
      </div>
      <input type="submit" name="Submit" class="button-primary button-primary-small mt-5" value="Submit">
    </form>
  </div>
</div>
