<div class="container steptwo ">
  <div class="form form-2">
    <h2 class="header-form">Give us some more Information</h2>
    <form>

    <hr>

      <label class="input" ><h4>What programming skills do you have?</h4></label>
      <div class="checkboxes-skill row w-75 m-auto" >
        <div class="tag-item col-4">
          <input class="my-checkbox tag-selector" type="checkbox" id="Ruby">
          <label style="width: 100%" for="Ruby"> Ruby</label>
        </div>
        <div class="tag-item col-4">
          <input class="tag-selector" type="checkbox" id="HTML">
          <label style="width: 100%" for="HTML"> HTML</label>
        </div>
        <div class="tag_item col-4">
          <input class="tag-selector" type="checkbox" id="CSS">
          <label style="width: 100%" for="CSS"> CSS</label>
        </div>
        <div class="tag_item col-4">
          <input class="tag-selector" type="checkbox" id="JavaScript">
          <label style="width: 100%" for="JavaScript"> JavaScript</label>
        </div>
        <div class="tag-item col-4">
          <input class="tag-selector" type="checkbox" id="Python">
          <label style="width: 100%" for="Python">Python</label>
        </div>

        <div class="tag-item col-4">
          <input class="tag-selector" type="checkbox" id="Rails">
          <label style="width: 100%" for="Rails">Rails</label>
        </div>
      </div>

      <div class="others">
        <label>Others?</label>
        <input type="input" class="input1">
      </div>

        <hr>

      <div>
        <label class="input2" ><h4>What are your interests?</h4></label>
      </div>

      <div class="checkbox-job row w-75 m-auto">
        <div class="tag-item col-4">
          <input class="tag-selector" type="checkbox" id="Front-end">
          <label style="width: 100%;" for="Front-end">Front-End</label>
        </div>

        <div clas="tag-item col-4" style="width: auto;">
          <input class="tag-selector" type="checkbox" id="Back-End">
          <label style="width: 100%;" for="Back-End">Back-End</label>
        </div>

        <div class="tag-item col-4">
          <input class="tag-selector" type="checkbox" id="Full-Stack">
          <label style="width: 100%; " for="Full-Stack">Full-Stack</label>
        </div>
      </div>

      <hr>

      <div>
        <label class="input3" ><h4>Did you already work as a developer?</h4></label>
        <fieldset class="form-group boolean optional snippet_archived">
          <div class="form-check">
            <input name="snippet[archived]" type="hidden" value="0">
            <input class="form-check-input boolean optional toggle" type="checkbox" value="1" name="snippet[archived]" id="snippet_archived">
            <label class="form-check-label boolean optional" for="snippet_archived">Yes</label>
          </div>
        </fieldset>
        <%# <input type="checkbox" class="toggle">
        <label for="developer">Yes</label> %>
      </div>

      <input type="submit" name="Submit" class="button-primary mt-4 mb-0" value="Submit">

    </form>
  </div>
</div>
