.button-primary {
    border-radius: 25px;
    padding: 10px 30px;
    // box-shadow: 9px 8px 0px black;
    background-color: $lightpurple;
    text-decoration: none;
    color: $white;
    border: $lightpurple;


    &:hover {
      color: $white;
      // background-color: $darkpurple;
      box-shadow: 9px 8px 0px $darkpurple;
      transform: scale3d(1.05, 1.05, 1.05);
    }
}



.button-primary-small {
   padding: 8px 16px;
}
