.button-primary {
    border-radius: 25px;
    padding: 16px 24px;
    box-shadow: 9px 8px 0px black;
    background-color: #59529F;
    text-decoration: none;
    color: #FFFFFF;
}

.button-primary:hover {
  color: $white;
  background-color: $darkpurple;
}

.button-primary-small {
   padding: 8px 16px;
}
