.job-banner{
  padding-top: 20px;
  background-color: $lightblue;
  color: $lightpurple;
  height: 200px;

  .banner-text{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    position: relative;

  .item {
    display: flex;
    flex-direction: row;
  }
  }
}

.fa-brands{
  color: $darkblue;
  font-size: 1.5rem;
  padding: 9px;
  margin-left: 25px;
}

.welcome {
  margin-top: 40px !important;
  margin-bottom: 10px !important;
}
