.form {
  height: fit-content;
  width: 60%;
  margin: 60px auto 60px auto;
  padding: 50px 50px;
  border-radius: 5px;
  background-color: $darkblue;
  font-size: large;
  color: $white;
  box-shadow: 0.5rem 0.5rem rgba(89, 82, 159, 0.35);
}
.form-2 {
  text-align: center;
  margin: -140px auto 60px auto !important;
}
