.navbar {
  justify-content: space-between;
  background: $lightpurple;
  padding: 1.2rem 4rem;
  position: fixed;
  width: 100%;
  z-index: 2;

  h1{
    color: $lightblue;
    margin: 0;
  }


  .navbar-right {
    flex-grow: 0;
  }
  .navbar-brand img {
    width: 40px;
  }

}
.nav-link {
  color: $white;
  &:hover{
    color: $lightblue;
  }
}

#login-btn{
  color: $darkpurple;
  background-color: $white;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  text-decoration: none;
  margin-left: 1rem;

  &:hover{
    background-color: $lightblue;
  }
}
