.show-page{
  height: 1200px;
  padding: 64px 140px 0;
  margin: 0 auto 170px;
}

.skill-top{
  padding-bottom: 60px;
  p{
    margin-top: 1rem;
  }

  .language-title {
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;

    i {
      display: flex;
      margin-right: 0;
      align-items: center;
      color: rgba(219, 17, 17, 0.779);
      margin-top: 17px;
      &:hover {
      color: rgb(255, 0, 0);
      }
    }

    .skill-logo{
    height: 36px;

    }

  }

  .why-like-title{
    font-weight: bold;
    margin-top: 3rem;
  }
}

@include media-breakpoint-up(lg) {
  .skill-bottom{
    position: relative;

    .skill-person{

      .quote{
        color: $darkpurple;
        height: 205px;
        width: 205px;
        border-radius: 50%;
        background-color: $lightblue;
        display: flex;
        align-items: center;
        text-align: center;
        box-shadow: 3px 3px $darkblue;
        z-index: 1;
        padding: 25px;

        position: absolute;
        top: 40px;
        left: 180px;
      }

      img{
        height: 310px;
        position: absolute;
        top: 50px;
        z-index: 1;
      }
    }


    .see-resources-alert{
      height: 240px;
      width: 400px;
      border-radius: 10px;
      background-color: $lightpurple;
      color: white;
      position: absolute;
      z-index: 1;
      box-shadow: 0.5rem 0.5rem rgba(89, 82, 159, 0.35);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      left: 35%;
      top: 40%;

      p{
        margin: 6px;
        &:first-child{
          margin-bottom: 24px;
        }
      }
    }

    .resources{
      margin-bottom: 500px;
      height:720px;
      // background-size: 100%;
      background-repeat: no-repeat;
      h3{
        font-family: $headers-font;
        color: $darkpurple;
      }

      a{
        text-decoration: none;
        color: $lightpurple;

        &:hover{
          color: $darkpurple;
        }
      }
      .resources-cards{
        height: 240px;
        width: 280px;
        background-color: $white;
        position: absolute;
        box-shadow: 0.5rem 0.5rem rgba(89, 82, 159, 0.35);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;

        ul{
          list-style-type: none;
          padding: 0;
        }
      }

      .blur {
        filter: blur(4px);
        pointer-events: none;
      }

      .resources-card1{
        left: 10%;
        top: 420px;
      }
      .resources-card2{
        left: 40%;
        top: 280px;
      }
      .resources-card3{
        left: 70%;
        top: 140px;
      }

    }
  }
}


@include media-breakpoint-down(lg) {
  .show-page{
    height: 2400px;
    padding: 64px 140px 0;
    margin: 0 auto 170px;
  }
  .skill-bottom{
    position: relative;

    .skill-person{

      .quote{
        color: $darkpurple;
        height: 205px;
        width: 205px;
        border-radius: 50%;
        background-color: $lightblue;
        display: flex;
        align-items: center;
        text-align: center;
        box-shadow: 3px 3px $darkblue;
        z-index: 1;
        padding: 25px;

        position: absolute;
        top: 40px;
        left: 180px;
      }

      img{
        height: 310px;
        // position: absolute;
        top: 50px;
        z-index: 1;
      }
    }


    .see-resources-alert{
      height: 240px;
      width: 400px;
      border-radius: 10px;
      background-color: $lightpurple;
      color: white;
      // position: absolute;
      z-index: 1;
      box-shadow: 0.5rem 0.5rem rgba(89, 82, 159, 0.35);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      // left: 35%;
      // top: 40%;
      margin: 20px 0;

      p{
        margin: 6px;
        &:first-child{
          margin-bottom: 24px;
        }
      }
    }

    .resources{
      margin-bottom: 500px;
      height:720px;
      background-size: 100%;
      // background-repeat: no-repeat;
      background-image: none !important;
      h3{
        font-family: $headers-font;
        color: $darkpurple;
      }

      a{
        text-decoration: none;
        color: $lightpurple;

        &:hover{
          color: $darkpurple;
        }
      }
      .resources-cards{
        height: 240px;
        width: 280px;
        background-color: $white;
        box-shadow: 0.5rem 0.5rem rgba(89, 82, 159, 0.35);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        margin: 20px 0;

        ul{
          list-style-type: none;
          padding: 0;
        }
      }

      .blur {
        filter: blur(4px);
        pointer-events: none;
      }

      // .resources-card1{
      //   left: 10%;
      //   top: 420px;
      // }
      // .resources-card2{
      //   left: 40%;
      //   top: 280px;
      // }
      // .resources-card3{
      //   left: 70%;
      //   top: 140px;
      // }

    }
  }
}
