.show-page{
  height: 1072px;
  padding: 64px 140px 0;
}

.skill-top{
  padding-bottom: 60px;
  p{
    margin-top: 1rem;
  }
  .skill-logo{
  height: 120px;
  }
}

.skill-bottom{
  position: relative;
  height: 300px;
  .skill-person{

    .quote{
      color: $darkpurple;
      height: 205px;
      width: 205px;
      border-radius: 50%;
      background-color: $lightblue;
      display: flex;
      align-items: center;
      text-align: center;
      box-shadow: 3px 3px $darkblue;
      z-index: 1;
      padding: 25px;

      position: absolute;
      top: -450px;
      left: 180px;
    }

    img{
      height: 310px;
      position: absolute;
      top: -430px;
      z-index: 1;
    }
  }



  .resources{
    margin-bottom: 500px;
    h3{
      font-family: $headers-font;
      color: $darkpurple;
    }
    .resources-background{
      position: absolute;
      top: -480px;
    }

    a{
      text-decoration: none;
      color: $lightpurple;

      &:hover{
        color: $darkpurple;
      }
    }
    .resources-cards{
      height: 240px;
      width: 280px;
      background-color: $white;
      position: absolute;
      box-shadow: 0.5rem 0.5rem rgba(89, 82, 159, 0.35);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      ul{
        list-style-type: none;
        padding: 0;
      }
    }
    .resources-card1{
      left: 100px;
      top: -60px;
      border-radius: 10px;
    }
    .resources-card2{
      left: 480px;
      top: -190px;
      border-radius: 10px;
    }
    .resources-card3{
      left: 860px;
      top: -320px;
      border-radius: 10px;
    }


  }
}
